.card {
    margin:10px;
    width: 30%;
}
.btn-card {
   position:absolute;
   left: 2px;
   bottom: 2px;
   margin:5px;
}
.fa-heart{
    position: absolute;
    right: 8px;
    bottom: 8px;
    size:40px;
 }
 .fa-border{
    border: 1px solid black;
     
 }
 .downcard{
    display:inline-block;
 }